:root{
--mainBlue:#2a2a72;
--lightBlue:#009ffd;
--mainGreen:green;
--mainWhite:#f3f3f3;
--mainDark:#232528;

--mainYellow:#ffa400;

}
body{
font-family:"Oswald", sans-serif!important;
background: var(--mainWhite)!important;

color: var(--mainDark)!important;

size: 18cm;
}
.text-title{

font-family: 'Permanent Marker', cursive!important;
color: var(--mainDark)!important ;
letter-spacing: 0.3rem;
text-transform: uppercase;

}
.text-blue{
color: var(--mainBlue)!important;

}
.text-bright{
   color:var(--mainDark)!important
}
